@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=DM+Sans&family=Roboto+Mono&family=Shantell+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #47384a;
}

h2 {
    font-size: 40px;
    line-height: 54px;
    color: #47384a;
}

h3 {
    font-size: 30px;
    line-height: 30px;
    color: #47384a;
}

h4 {
    font-size: 20px;
    color: #47384a;
}

h6 {
    font-weight: 700;
    font-size: 13px;
    color: #47384a;
}

p {
    font-size: 16px;
    color: #47384a;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 60px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

.star {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.fa {
    margin: 0 4px;
    font-size: 22px;
    color: #47384a;
}

ion-icon {
    display: inline-block;
}

button {
    border: none;
    background-color: transparent;
}

input {
    font: inherit;
    width: 100%;
    border: none;
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 100px;
    background: #e9ddf1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    /* position: sticky; */
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.header.scrollUp {
    transform: translateY(-75px);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a,
#navbar li button,
.footnote span {
    color: #57465b;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a#active,
#navbar li button:hover,
#navbar li button#active {
    color: #a878cc;
}

#navbar li a#active::after,
#navbar li a:hover::after,
#navbar li button#active::after,
#navbar li button:hover::after {
    background-color: #a878cc;
    position: absolute;
}

/* login popup */

.login::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(169, 169, 169, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.login.show:before {
    opacity: 1;
    pointer-events: none;
}

.form_container {
    position: absolute;
    max-width: 400px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #ffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}

.login.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.signup_form {
    display: none;
}

.form_container.active .signup_form {
    display: block;
}

.form_container.active .login_form {
    display: none;
}

.form_close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #47384a;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2 {
    font-size: 24px;
    color: #47384a;
    text-align: center;
}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #646464;
    font-size: 16px;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #cccde7;
}

.input_box input:focus {
    color: #a878cc;
    border-color: #a878cc;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
}

.input_box i.email,
.input_box i.password,
.input_box i.name {
    left: 0;
    color: #646464;
}

.input_box input:focus~i.email,
.input_box input:focus~i.password,
.input_box input:focus~i.name {
    color: #a878cc;
}

.input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    color: #646464;
    cursor: pointer;
}

.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a {
    color: #57465b;
    font-size: 16px;
}

.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}

.checkbox input {
    accent-color: #a878cc;
}

.checkbox label {
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    color: #47384a;
}

.form_container .button {
    background-color: #af81c4;
    border: none;
    color: #ffffff;
    font-size: 16px;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.login_signup {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;

}

/* error 404 page */

.error404 {
    background-image: url("img/404\ page.jpg");
    /* opacity: 70%; */
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: top 63% right 0; */
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
}

.error404 h1,
.error404 h2,
.error404 h3 {
    position: relative;
    top: 28%;
    color: white;
}

/* home page */

#hero {
    background-image: url("img/hero\ 1.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 63% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex;
    text-align: center;
    justify-content: center;
}

#hero h4 {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    display: block;
    margin-top: -50px;
}

#hero p {
    font-family: 'Shantell Sans', cursive;
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    color: #47384a;
    border: 0;
    padding: 10px 65px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#essentials {
    text-align: center;
}

#slider {
    position: relative;
    width: 50%;
    height: 30vw;
    margin: 70px auto 0;
    perspective: 1400px;
    transform-style: preserve-3d;
}

#slider label,
#slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}

#slider img {
    border: 5px solid #ffffff;
}

input[type=radio] {
    position: relative;
    appearance: none;
    width: 10px;
    height: 10px;
    top: 110%;
    margin: 0 15px 0 0;
    opacity: 0.6;
    cursor: pointer;
    border: 2px solid #a878cc;
    border-radius: 50%;
}

input[type=radio]:checked {
    background-color: #a878cc;
}

#s1:checked~#slider1,
#s2:checked~#slider2,
#s3:checked~#slider3,
#s4:checked~#slider4,
#s5:checked~#slider5 {
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
        0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

#s1:checked~#slider2,
#s2:checked~#slider3,
#s3:checked~#slider4,
#s4:checked~#slider5,
#s5:checked~#slider1 {
    transform: translate3d(20%, 0, -100px);
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
        0 12px 6px rgba(0, 0, 0, 0.2);
}

#s1:checked~#slider3,
#s2:checked~#slider4,
#s3:checked~#slider5,
#s4:checked~#slider1,
#s5:checked~#slider2 {
    transform: translate3d(40%, 0, -250px);
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
        0 12px 6px rgba(0, 0, 0, 0.2);
}

#s1:checked~#slider5,
#s2:checked~#slider1,
#s3:checked~#slider2,
#s4:checked~#slider3,
#s5:checked~#slider4 {
    transform: translate3d(-20%, 0, -100px);
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
        0 12px 6px rgba(0, 0, 0, 0.2);
}

#s1:checked~#slider4,
#s2:checked~#slider5,
#s3:checked~#slider1,
#s4:checked~#slider2,
#s5:checked~#slider3 {
    transform: translate3d(-40%, 0, -250px);
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
        0 12px 6px rgba(0, 0, 0, 0.2);
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 30px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px;
}

#product1 .pro .des span {
    color: #646464;
    font-size: 14px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #393939;
    font-size: 16px;
}

#product1 .pro .des i {
    font-size: 15px;
    color: gold;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #a878cc;
}

#shrink-border {
    background-color: transparent;
    color: #47384a;
}

#shrink-border:hover {
    background-color: transparent;
    box-shadow: none;
    color: #a878cc;
}

#shrink-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    border: 1px solid #cccde7;
    border-radius: 25px;
    transition: opacity 0.3s, border 0.3s;
}

#shrink-border:hover::before {
    opacity: 0;
}

#shrink-border::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    background-color: transparent;
    border: 3px solid #cccde7;
    border-radius: 25px;
    opacity: 0;
    z-index: -1;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
}

#shrink-border:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}

/* shop page */

#page-header {
    background-image: url("img/hero\ 2.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 80% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex;
    text-align: center;
    justify-content: center;
}

#page-header h4 {
    font-family: 'Roboto Mono', monospace;
    font-style: oblique;
    color: #ffffff;
}

/* individual product page */

.singleprod {
    padding: 35px 80px;
}

#prodetails {
    display: flex;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

#MainImg {
    border: 1px solid #cccde7;
    border-radius: 25px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.small-img {
    border: 1px solid #cccde7;
    border-radius: 25px;
}

#prodetails .single-pro-details {
    width: 55%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 30px 0 10px;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details span {
    line-height: 25px;
    color: #47384a;
}

.arrow,
small.back {
    font-size: 16px;
    font-weight: 700;
    color: #57465b;
    transition: 0.3s ease;
}


.arrow:hover,
small.back:hover {
    color: #a878cc;
}

/* add to cart button on individual product page*/

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 18px 0;
    outline: none;
    padding: 18px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 165px;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

/* account dashboard */

.account-navbar {
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid gainsboro;
    font-size: 18px;
    padding: 10px 0;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
    list-style: none;

}

.account-navbar li {
    margin: 15px;
    padding: 5px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.link {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: #47384a;
    position: relative;
    padding-bottom: 5px;
}

.link:hover {
    color: #a878cc;

}

.link:hover::after {
    transform: scaleX(1.0);
    height: 2px;
}

.link::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #a878cc;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.50s ease;
}

/* dashboard section */

.dashboard {
    /* margin: 30px; */
    padding: 0 50px;
    width: 100%;
}

.main-dash {
    padding: 25px 35px;
}

.main-dash span {
    font-size: 18px;
}

.main-dash h3 {
    margin: 20px 0;
    /* margin-top: 20px; */
    color: rgb(68, 68, 68);
    padding-bottom: 10px;
    /* border-bottom: 1px solid gainsboro; */
}

.dash-order-history,
.dash-account-details,
.dash-more-settings {
    padding: 0 30px;
}

.order-list {
    margin: 0 auto 40px;
    /* justify-content: center;
    align-items: center; */
    width: 50%;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* .order-list img {
    border-radius: 15px;
    border: 1px solid gainsboro;
} */

.order-list #order_date {
    padding: 10px 20px 0;
}

.order-list-detail {
    display: block;
}

.order-list-detail p,
.order-list-detail span {
    font-family: 'Roboto Mono', monospace;
}

.order-list .input-flex {
    justify-content: center;
}

.detail-header {
    position: relative;
    top: -12px;
}

.sub-detail {
    color: #5d5d5d;
    position: relative;
    bottom: -8px;
}

.order-detail {
    padding-left: 10px;
    padding-right: 60px;
}

.order-detail a {
    color: #47384a;
    /* font-weight: bold; */
}

.dash-account-details label {
    color: #47384a;
}

.account-info {
    margin: 20px auto;
    width: 60%;
}

.account-info h4 {
    line-height: 60px;
}

.account-info div,
.account-info p {
    width: 70%;
    margin: 10px auto;
}

.account-info p {
    font-size: 17px;
}

.account-dash input:read-only {
    border-radius: 5px;
    border: 1px solid #5d5d5d;
    color: #969696;
    /* background-color: #b9b2cb5a; */
    padding: 5px 10px;
    margin: 2px auto 7px;
    line-height: normal;
    font-size: 17px;
}

.settings-options {
    margin: 0 auto;
    width: 60%;
}

.settings-options h4 {
    line-height: 60px;
}

.settings-options p,
.settings-options div {
    width: 70%;
    margin: 10px auto;
}

.settings-options p,
.settings-options span {
    font-size: 17px;
}

.settings-options p {
    padding-bottom: 10px;
}

.settings-options .method .checkmark {
    color: #47384a;
}

.settings-options .selected {
    border-color: #d0ace0;
}

.settings-options .method .fill {
    color: #d0ace0;
}

.settings-options div {
    padding-left: 15px;
}

/* shopping cart page */

.shopping-cart {
    /* max-width: 1520px; */
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.shopping-header {
    color: #5d5d5d;
    border-bottom: 1px solid gainsboro;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.shopping-header span,
.shopping-header a {
    position: relative;
    left: 5%;
}

.cart-label,
.cart-separator {
    color: darkgray;
}

.cart-label-active {
    color: gray;
}

.item-flex {
    display: flex;
    flex-grow: 1;
}

/* payment section */

.checkout {
    width: 70%;
    padding: 40px 60px;
    border-right: 1px solid rgb(206, 204, 204);
}

.section-heading {
    margin-bottom: 30px;
}

.payment-method {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.payment-method .method {
    border: 1px solid #47384a;
    border-radius: 5px;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
    cursor: pointer;
}

.payment-method .selected {
    border-color: #d0ace0;
}

.payment-method .method ion-icon {
    font-size: 20px;
}

.payment-method .method .checkmark {
    margin-left: auto;
    color: #47384a;
}

.payment-method .method .fill {
    color: #d0ace0;
}

.label-default {
    padding-left: 10px;
    color: darkgrey;
}

.input-default {
    display: inline;
    margin-top: 5px;
    background: #f5f3f5;
    border-radius: 10px;
    color: grey;
    transition: 0.2s ease-in-out;
}

.input-default input:focus {
    color: #a878cc;

}

.payment-form input {
    padding: 10px 15px;
    font-size: 18px;
}

.cardholder-name,
.card-number {
    margin-bottom: 20px;
}

.input-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.input_flex .expire-date,
.input_flex .cvv {
    width: 50%;
}

.expire-date .input-flex {
    color: darkgray;
    gap: 13px;
}

.expire-date .input-flex input {
    text-align: center;
}

::placeholder {
    color: darkgray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.continueBtn {
    margin: 50px 0 10px;
}

.btn {
    border-radius: 5px;
}

.btn:active {
    transform: scale(0.99);
}

.btn:focus {
    color: white;
    background: #d0ace0;
    outline: 2px solid #d0ace0;
    outline-offset: 2px;
}

.btn-primary,
.btn-secondary {
    padding: 13px 45px;
    border: 1px solid #d0ace0;
}

.btn-primary {
    background: #d0ace0;
    color: white;
}

.btn-secondary {
    color: #d0ace0;
}

.btn-primary b {
    margin-right: 10px;
}

/* order summary section */

.cart {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* margin: 10px 50px;
    margin-left: 10px; */
}

.cart-item-box {
    padding: 40px;
    margin-bottom: auto;
}

.product-card {
    margin-right: 10px;
}

.product-card:not(:last-child) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-card .card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.card .summary-img {
    border-radius: 5px;
    height:100px;
    width:100px;
}

.card .detail .product-name {
    font-size: 16px;
    margin-bottom: 10px;
}

.card .detail .wrapper {
    display: flex;
    gap: 20px;
}


.product-qty {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-qty button {
    background-color: #f5f3f5;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-qty button:active,
.product-close-btn:active ion-icon {
    transform: scale(0.95);
}

.product-qty button ion-icon {
    --ionicon-stroke-width: 60px;
    font-size: 10px;
}

.product-close-btn {
    position: absolute;
    top: 50%;
    right: 0;
}

.product-close-btn ion-icon {
    font-size: 20px;
    color: #47384a;
}

.product-close-btn:hover ion-icon {
    color: maroon;
}

.discount-token {
    padding: 40px;
    margin-right: 10px;

    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.wrapper-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.wrapper-flex input {
    padding: 12px 15px;
    font-weight: 600;
}

.btn-outline {
    padding: 10px 25px;
    border: 1px solid #d0ace0;
    color: #d0ace0;
}

.btn-outline:hover {
    background: #d0ace0;
    color: white;
}

.amount {
    padding: 40px;
    margin-right: 10px;
}

.amount>div {
    display: flex;
    justify-content: space-between;
}

.amount>div:not(:last-child) {
    margin-bottom: 10px;
}

.amount .total {
    font-size: 18px;
    font-weight: 700;
}

/* shipping page */

select {
    height: 40px;
    font-size: 20px;
    border: none;
    padding-left: 12px;
}

select#expire-date {
    width: 80px;
}

.ship-total {
    border-top: 1px solid gainsboro;
}

/* billing checkbox */


.billing-method .method {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    cursor: pointer;
}

.billing-method .selected {
    border-color: #d0ace0;
}

.billing-method .method ion-icon {
    font-size: 20px;
}

.billing-method .method .checkmark {
    margin-left: auto;
    color: #47384a;
}

.billing-method .method .fill {
    color: #d0ace0;
}

.billing-method span {
    font-size: 16px;
    color: #41403e;
}

/* order confirmation page */

.order-confirmation {
    margin-bottom: 10px;
}

.orderconf-header {
    text-align: center;
    align-content: center;
    width: 30%;
    margin: auto;
    /* padding-top: 40px; */
}

.orderconf-header img {
    margin-top: 10px;
    width: 70%;
}

.info-block {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 85%;
    margin: 40px auto;
}

.shipping-info,
.billing-info,
.shipping-method {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    width: 25%;
    padding-top: 15px;
    padding-left: 30px;
}

.shipping-info {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.shipping-method {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.shipping-info,
.shipping-method {
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
}

.address-header {
    margin-bottom: 14px;
}

.order-block {
    display: flex;
    margin: auto;
}

.order-summary {
    position: relative;
    left: 11%;
    border: 1px solid gainsboro;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.orderconf-detail {
    position: relative;
    top: -25px;
    width: 70%;
    height: 100%;
}

.orderconf-name {
    font-size: 18px;
}

.orderconf-price {
    font-size: 18px;
    position: absolute;
    right: 0;
}

/* footer  */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #dedce35a;
    height: 60vh;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px 20px;
}

footer .logo {
    margin-bottom: 20px;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

footer p {
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer i,
footer a {
    font-size: 15px;
    color: #47384a;
    margin-bottom: 10px;
}

footer i {
    font-style: normal;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #47384a;
    padding-right: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

footer .install .row img {
    border: 1px solid #a878cc;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer i:hover,
footer a:hover {
    color: #a878cc;

}

footer .copyright {
    width: 100%;
    text-align: center;
}

footer .citations,
.citations a {
    font-size: 10px;
    width: 100%;
    text-align: center;
}

#pgup {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 35px;
    z-index: 99;
    border: none;
    background-color: transparent;
    color: #57465b;
    transition: all 0.5s ease-in-out;
}

#pgup:hover {
    color: #a878cc;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #a878cc97;
}

::-webkit-scrollbar-thumb:hover {
    background: #a878cc;
}
